
@charset "UTF-8";


html body{
   min-height: 100vh;
   background-color: rgba(182, 181, 181, 0.595);
   min-width: 600px;
   
   




}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 100px;

    
}
header > h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position:center;

}
section{
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 2em; 
   padding-left: 30px; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
   
   
}
section.normal p{ 
    background-color: transparent;
    padding: 0;
    margin:0%;
    font-size: 20px;
     

}

section.imagem{
   background-color: rgba(0, 0, 0, 0.511); 
   color: white;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.52);
   background-attachment: fixed;


}





section.imagem p{
    padding: 20px;
    color: white;
    padding-bottom: 3em;
    line-height: 1.8;
    padding: 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.127);
    padding-bottom: 3em;
    background-color: rgba(0, 0, 0, 0.542);
    max-width: 420px;
    margin: 40px;
    line-height: 1.8;
    padding: 15px;
    border-radius: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.26);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;

    
    }
    

section#img1{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    
}
section#img2{  
    background-image: url('../imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}


header > p{

    padding-bottom: 2em;

}
header a, footer a{
    text-decoration: none;
    color: rgb(236, 222, 222);
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
header a:hover, footer a:hover{
    text-decoration:underline;
    color: rgb(50, 46, 46);


}
footer a{
    color: black;
    
}
h2{
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: rgba(66, 64, 64, 0.37);
}
