@charset "UTF-8";

/* Estilo para impressora */
*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;

}
menu{
    display: none;
}
article::after{
    content: "Impresso: "  "https://github.com/marinnamm1081-ui?tab=repositories";
}