@charset "UTF-8";

/* ESTILO PARA TELAS */
body{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    font-size: 20px;
}
h1{
    text-align: center;
}

menu ul{
   list-style-type: none;
   background-color: rgb(151, 246, 246);



}
menu li{
    display: inline-block;
    background-color: bisque;
    

}
li:hover{
    background-color:beige;
    padding: 10px;
    width: 100px;
}
article{
    display: block;
    width: 600px;
    margin: auto;
    
}


