body{
    background-color: rgb(204, 221, 235);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: rgb(81, 39, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-decoration: underline;
}

h2{
    color: rgb(15, 15, 48);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

p{
    color: rgb(12, 27, 41);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

li{
    color: rgb(7, 69, 124);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
