@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Single:wght@100..900&family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Single:wght@100..900&family=Pacifico&display=swap');
*{
    padding: 0;
    margin: 0;
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao:'bebas neue';
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'Comic Sans MS, Comic Sans, cursive';



}

body{
    background-color: #d3f1e1; 
    font-family: var(--fonte-destaque);
    padding-top: 150px;
    padding: 5px;
    margin-top: 0;
    
    
      }
     

header{
    background-image: linear-gradient(to top, rgb(189, 239, 189), rgb(111, 198, 111), rgb(93, 177, 93));
    font-family: var(--fonte-destaque);
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
    
    
    
    
}

header > h1{
    font-family: "Josefin Sans";
    color: var(--cor5);
    margin-top: 40px;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.14);
    

}
header > p{
    color: rgb(8, 11, 30);
    font-family: "Bebas Neue Static";
    font-size: 20px;
    margin-top: 20px;



}
nav{
    background-color: #a2f5c6;
    font-family: monospace;
    padding: 10px;

    
}
nav > a{
    color: #030705;
    padding: 10px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 4px;
    transition-duration: .5s;
}
nav > a:hover{
    background-color:#529a6a57;
    color: rgba(10, 7, 7, 0.768);
}
a.externo::after{
    content: '\1f517';
}
main{
    background-color: aliceblue;
    min-width: 200px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.379);
}
main img{
    margin: auto;
    width: 100%
}

#dois{

    width: 200px;
    height: 100px;
    margin: auto;
    display: block;
}
iframe{

    width: auto;
}
aside{
    background-color: #c5ebd6;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}
aside > ul{
    color: #010d06;
    columns: 2;
}
 aside > h3{
    padding: 20px;
    margin-top: 10px;
    background-color:#2fa866;
    border-radius: 10px;
}
aside > p{
    padding: 20px;
}


footer{
    background-color: #2fa866;
    padding-top: 20px;
    text-align: center;
    margin: 0%;
    padding: 30px;
    margin-top: 0%;

}
h1{
    color: #010d06;
    
}
h2{
    color: #02200f;
}

p{
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-indent: 30px;
}

